.bg-color-introduction{
    background-color: rgb(10, 57, 129);
    height: 1200px;
    
}

.btn-introduction{
  width: 300px; /* Genişlik */
  height: 60px; /* Yükseklik */
  font-size: 19px; /* Yazı boyutu */
  padding: 10px 20px; /* İç boşluk */
  border-radius: 30px; /* Köşeleri yuvarla */
  background-color: rgb(248, 242, 242); /* Arka plan rengi */
  color: black; /* Yazı rengi */
  cursor: pointer; /* İmleci el yap */
  margin-top: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transform: translateY(10px);
  position: relative; /* Konumu düzenlenebilir hale getir */
  z-index: 1;

}

.btn-introduction:hover{
    background-color: #37AFE1; /* Hover arka plan rengi */
    color: white; /* Yazı rengi */
    box-shadow: 0px 0px 28px -11px rgba(255, 255, 255, 1); /* Hover gölge */
    transform: translateY(5px); /* Hover hareket */

}

.arrow-style{
    margin-left: 0.5rem;
    margin-top: 2px;
}
.introduction-photo-style{
    position: relative;
    transform: translateY(130px);
    z-index: 1;
    
   
}

