.bg-color-introduction{
    background-color: rgb(10, 57, 129);
    
}

.btn-introduction{
  width: 250px; /* Genişlik */
  height: 50px; /* Yükseklik */
  font-size: 19px; /* Yazı boyutu */
  padding: 10px 20px; /* İç boşluk */
  border-radius: 30px; /* Köşeleri yuvarla */
  background-color: rgb(248, 242, 242); /* Arka plan rengi */
  color: black; /* Yazı rengi */
  cursor: pointer; /* İmleci el yap */
  margin-top: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

}

.btn-introduction:hover{
    background-color: #37AFE1;
    box-shadow:  0px 0px 28px -11px rgba(255,255,255,1); /* Hover efektiyle gölgeyi büyütme */

    

}

.arrow-style{
    margin-left: 0.5rem;
    margin-top: 2px;
}
.introduction-photo-style{
    
    transform: translateY(-130px) translateZ(50px); /* Y ve Z eksenindeki konum */
    transition: transform 0.3s ease; /* Hareketleri yumuşatmak için */
    perspective: 1000px; /* Derinlik efekti için */
}

.introduction-photo-container{
    margin-right: 50px;
}