
.form-control:focus {
    box-shadow: none;
    border-color: rgb(10, 57, 129)
}

.profile-button {
    background: rgb(10, 57, 129);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: rgb(10, 57, 129)
}

.profile-button:focus {
    background:rgb(10, 57, 129);
    box-shadow: none
}

.profile-button:active {
    background: rgb(10, 57, 129);
    box-shadow: none
}

.profile-btn-wide {
    width: 90px; /* Buton genişliğini eşitlemek için */
    margin: 5px;  /* Butonlar arasında boşluk bırakmak için */
  }

