.sidebar-admin {
    width: 23%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto; /* Taşan içerikler için kaydırma */
  }
  .sidebar-exit-button {
    padding: 15px;   
    
  }

  .nav-link-admin{
    text-decoration: none ;
  }

