.full-background {
    background-color: #d5efff;
    min-height: 100vh; /* Sayfanın tamamını kaplamak için */
    display: flex;
    justify-content: center; /* Ortaya hizalamak için */
    align-items: center;     /* Dikeyde ortalamak için */
  }
  
  .container-profile-settings {
    display: flex; /* Flexbox kullanarak öğeleri yatayda hizala */
    align-items: flex-start; /* Yükseklikleri hizalayacak şekilde */
    padding: 20px;
    
  }