/* Swiper slide container stilleri */
.swiper-slide-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 300px;
  background-color: #fff;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 20px; 
}



/* Pagination ve Navigation Stillendirme */
.swiper-pagination-bullet {
  background-color: black !important;
  opacity: 0.7;
  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
  opacity: 1;
}

.swiper-button-next {
  color: rgb(10, 57, 129) !important; /* Sağ ok rengi */
}

.swiper-button-prev {
  color: rgb(10, 57, 129) !important; /* Sol ok rengi */
}

.swiper-button-next, .swiper-button-prev {
  color: rgb(10, 57, 129);
  transition: color 0.3s ease;
  padding: 10px; /* Önceki değeri 15px'den 10px'e düşürdük */
  font-size: 14px; /* Boyut küçültüldü */
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  color: black;
}

/* İkon boyutlarını daha fazla küçültmek isterseniz */
.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 18px; /* Varsayılan değeri 24px civarındadır, küçülttük */
}

.swiper-slide-container img {
  width: 200px; /* Görsel genişliği */
  height: 100px; /* Görsel yüksekliği */
  object-fit: contain; /* Görüntünün sıkışmadan uygun şekilde görünmesini sağlar */
  border-radius: 8px; /* Köşe yumuşatma (isteğe bağlı) */
}

