.saveButton {
  width: 180px;
  height: 60px;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: rgb(10, 57, 129);
  font-size: 22px;
  margin-top: 210px;
}

.saveButton:hover {
  background-color: #4892db;
}
