.freeuse {
    position: relative;
    width: 65% !important; /* Genişlik %50 */
    height: 350px; /* Sabit yükseklik */
    background-color: rgb(248, 243, 243); /* Bootstrap Primary renk (mavi) */
    color: white; /* Yazı rengi beyaz */
    text-align: center; /* Yazıyı ortala */
    padding: 20px; /* İç boşluk */
    border-radius: 8px; /* Köşeleri yuvarla */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hafif gölge */
    overflow: hidden;
 
}
    /* Dairelerin Genel Özellikleri */
.circle {
  position: absolute;
  width: 150px; /* Daire genişliği */
  height: 150px; /* Daire yüksekliği */
  border-radius: 50%; /* Yuvarlak yapmak için */
  opacity: 0.8; /* Şeffaflık */
  z-index: 0; /* İçeriğin altında görünmesi için */
}

/* Sol Üst Daire */
.circle-left {
  background-color: #ff6f6f; /* Kırmızımsı renk */
  top: -50px; /* Üstte yer alacak şekilde */
  left: -50px; /* Solda yer alacak şekilde */
}

/* Sağ Alt Daire */
.circle-right {
  background-color: #6fe7c2; /* Yeşilimsi renk */
  bottom: -50px; /* Altta yer alacak şekilde */
  right: -50px; /* Sağda yer alacak şekilde */
}

.btn-deneme{
  justify-content: center;
  align-items: center;
  width: 200px; /* Genişlik */
  height: 40px; /* Yükseklik */
  font-size: 18px; /* Yazı boyutu */
  padding: 10px 20px; /* İç boşluk */
  border-radius: 20px; /* Köşeleri yuvarla */
  background-color: #4caa41; /* Arka plan rengi */
  color: white; /* Yazı rengi */
  cursor: pointer; /* İmleci el yap */
  margin-top: 5px;
  display: flex;
  border: none;
}

.btn-deneme:hover{
    background-color: #99e093;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
  }

  /* Dairelerin Genel Özellikleri */
.circle {
    position: absolute;
    width: 150px; /* Daire genişliği */
    height: 150px; /* Daire yüksekliği */
    border-radius: 50%; /* Yuvarlak yapmak için */
    opacity: 0.8; /* Şeffaflık */
    z-index: 0; /* İçeriğin altında görünmesi için */
  }
  
  /* Sol Üst Daire */
  .circle-left {
    background-color: #ff6f6f; /* Kırmızımsı renk */
    top: -50px; /* Üstte yer alacak şekilde */
    left: -50px; /* Solda yer alacak şekilde */
  }
  
  /* Sağ Alt Daire */
  .circle-right {
    background-color: #6fe7c2; /* Yeşilimsi renk */
    bottom: -50px; /* Altta yer alacak şekilde */
    right: -50px; /* Sağda yer alacak şekilde */
  }

