.bg-color-header {
  background-color:  rgb(10, 57, 129);
}
.navbar-nav .nav-link:hover {
  color: white; /* Hover efekti */
}
.navbar-nav {
  justify-content: start !important; /* Flexbox ile sola hizalama */
}

.nav-item {
  margin-right: 15px; /* Menü elemanları arasında boşluk bırak */
}

  
